<div class="table-responsive">
  <table class="table">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Descripci&oacute;n</th>
                <th>Precio Unitario</th>
                <th>Precio Neto</th>
                <th>Descuento</th>
                <th>Proveedor</th>
            </tr>
      </thead>

      <tbody>
        <tr>
            <td class="active">...</td>
            <td class="active">...</td>
            <td class="active">...</td>
            <td class="active">...</td>
            <td class="active">...</td>
            <td class="active">...</td>
          </tr>
    </tbody>
  </table>
</div>