<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Materiales</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">C&oacute;digo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese c&oacute;digo">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Precio Unitario</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingrese precio unitario">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Precio Neto</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingrese precio neto">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descuento</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingrese descuento">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Proveedor</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese proveedor">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descripci&oacute;n</label>
                        <textarea class="form-control" placeholder="Ingrese descripcion"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>