<div class="modal-header">
    <h3 class="modal-title">Materiales</h3>
</div>

<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="exampleInputEmail1">C&oacute;digo</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese c&oacute;digo">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Precio Unitario</label>
            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingrese precio unitario">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Precio Neto</label>
            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingrese precio neto">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Descuento</label>
            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingrese descuento">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Proveedor</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese proveedor">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Descripci&oacute;n</label>
            <textarea class="form-control" placeholder="Ingrese descripcion"></textarea>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Guardar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>